@import '~@angular/material/theming';
@include mat-core();

$mycolor: rgb(22, 1, 48);

mat-toolbar {
    background-color: $mycolor;
}

span {
    padding: 20px;
    margin: auto;
    color: rgb(246, 55, 160);
    font-family: cursive;
    font-size: 25px;

}